* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;

    background: #f4f4f4;
}

.register-section {
    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;
}

#registerForm {
    width: 350px;

    background: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#registerForm h1 {
    text-align: center;

    margin-bottom: 20px;
}

#registerForm input {
    width: 100%;

    padding: 12px;

    margin-bottom: 15px;

    border: 1px solid #ccc;

    border-radius: 5px;
}

#registerForm button {
    width: 100%;

    padding: 12px;

    background: #28a745;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    margin-bottom: 15px;
}

#registerForm p {
    text-align: center;
}

#registerForm a {
    color: #007bff;

    text-decoration: none;
}